*{
  padding: 0 !important;
  margin: 0 !important;
}

.img{
  padding: 5px !important;
  width: 40%;
  height: auto;
}

.box{
  height: 33.35vh;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
}

.info{
  height: 25vh;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
}

.graphall{
  height: 50vh;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
}

.hPresion{
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  background-color: yellow;
}

.centerInfo{
  /* Center div */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono-luz {
  width: 30px;
  height: 30px;
  background-color: #ff0000; /* Color de la luz */
  border-radius: 50%; /* Hace el div circular */
  animation: cambioEstado 1.5s infinite; /* Aplica la animación */
}

.prendido {
  background-color: #00ff00; /* Cambia el color de la luz */
}

@keyframes cambioEstado {
  50% { opacity: 0; } /* Se vuelve transparente al medio de la animación */
  100% { opacity: 1; } /* Termina completamente visible */
}
